* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* CHAT ROOM */
.chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 0.7fr;
  height: 100vh;
}
.chat-header {
  display: flex;
  background-color: grey;
  padding-left: 5rem;
  align-items: center;
  gap: 55rem;
}

.chat-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.chat-name {
  font-size: 3rem;
}

.messages-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


.send-message-field {
  display: flex;
  position: relative;
}

.message-field {
  width: 100%;
  border-radius: 30px;
}

.message-field::placeholder {
  padding-left: 1.6rem;
}

.send-message-button {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}

ion-icon[name="send"] {
  font-size: 2.4rem;
}
/* DONT KNOW */

.message-wrapper {
}

.author-time-wrapper {
  font-size: 12px;
}

.message-wrapper .message {
  font-size: 16px;
}

.user-message {
  align-self: flex-end;
}

.others-message {
  align-self: flex-start;
}
